{{#show_header}}
id,title,release,rally_create,requested,defined,in_progress,completed,accepted
{{/show_header}}
{{#stories}}
{{{id}}},"{{{name}}}","{{{release}}}",{{{creation_date}}},{{{requested_date}}},{{{defined_date}}},{{{in_progress_date}}},{{{completed_date}}},{{{accepted_date}}}
{{/stories}}