{{#show_header}}
id,title,rally_create,ready,design,development,validation,accepted,state,in_progress,keywords,release,kanban_board,class_of_service,adjusted_cycle_time
{{/show_header}}
{{#stories}}
{{{id}}},"{{{name}}}",{{{creation_date}}},{{{ready_date}}},{{{design_date}}},{{{development_date}}},{{{validation_date}}},{{{accepted_date}}},"{{{state}}}",{{{in_progress}}},"{{{keywords}}}","{{{release}}}","{{{kanban_board}}}","{{{class_of_service}}}",{{{adjusted_cycle_time}}}
{{/stories}}