{{#show_header}}
id|kanban_board|feature|release|keywords|class_of_service|dev_lead|qa_lead|made_ready_in_validation|actual_story_points|state|in_progress|rally_create|ready|design|development|validation|accepted|rejected|violations|user_count|defect_count|blocked_hours|design_hours|development_hours|ready_hours|validation_hours|adjusted_ready_hours|adjusted_design_hours|adjusted_development_hours|adjusted_validation_hours|adjusted_cycle_time
{{/show_header}}
{{#stories}}
{{{id}}}|{{{kanban_board}}}|{{{feature}}}|{{{release}}}|{{{keywords}}}|{{{class_of_service}}}|{{{dev_lead}}}|{{{qa_lead}}}|{{{made_ready_in_validation}}}|{{{actual_story_points}}}|{{{state}}}|{{{in_progress}}}|{{{creation_date}}}|{{{ready_date}}}|{{{design_date}}}|{{{development_date}}}|{{{validation_date}}}|{{{accepted_date}}}|{{{rejected_date}}}|{{{state_change_violations}}}|{{{user_count}}}|{{{defect_count}}}|{{{blocked_hours}}}|{{{design_hours}}}|{{{development_hours}}}|{{{ready_hours}}}|{{{validation_hours}}}|{{{adjusted_ready_hours}}}|{{{adjusted_design_hours}}}|{{{adjusted_development_hours}}}|{{{adjusted_validation_hours}}}|{{{adjusted_cycle_time}}}
{{/stories}}